@mixin full {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.modal-backdrop {
    position: fixed;
    @include full;
    background-color: rgba(0, 0, 0, 0);
}

.modal-wrap {
    position: absolute;
    @include full;
}

.modal-animation-show {
    animation-name: modal-show;
    animation-duration: 0.4s;
}

.modal-animation-hide {
    animation-name: modal-hide;
    animation-duration: 0.4s;
}

@keyframes modal-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes modal-hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
